
#myPhone{
    position: fixed;
    bottom: 31px;
    right: 96px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.phone-icon{
    color: #fff;
    font-size: 24px;
    transition: all 0.3s ease;
}
#whatsapp{
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 100;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25d366;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.whatsapp-icon{
    color: #fff;
    font-size: 24px;
    transition: all 0.3s ease;
}

#whatsapp:hover,#myPhone:hover{
    transform: scale(1.1);
}
