/* =========== settings css ============== */
.settings-card-1 .profile-info .profile-image {
    max-width: 75px;
    width: 100%;
    height: 75px;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}

.settings-card-1 .profile-info .profile-image img {
    width: 100%;
    border-radius: 50%;
}

.settings-card-1 .profile-info .profile-image .update-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #efefef;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
}

.settings-card-1 .profile-info .profile-image .update-image:hover {
    opacity: 0.9;
}

.settings-card-1 .profile-info .profile-image .update-image input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99;
}

.settings-card-1 .profile-info .profile-image .update-image label {
    cursor: pointer;
    z-index: 99;
}

label {
    font-size: 14px !important;
}

.sidebarParentActive a svg {
    color: #00A3FF !important;
}

.sidebarParentActive a span {
    color: #00A3FF !important;
}

.sidebarChildActive {
    color: #00A3FF !important;
}
